Proiect/PLAYLISTS/src/main/resources/gg.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
                  xmlns:wsdlsoap11="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdlsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap11enc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soap11env="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:soap12env="http://www.w3.org/2003/05/soap-envelope"
                  xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing"
                  xmlns:xop="http://www.w3.org/2004/08/xop/include"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:tns="services.IDM.soap"
                  xmlns:s0="models.dto.role_dto"
                  xmlns:s1="models.dto.user_dto"
                  xmlns:s2="utils.register_data"
                  targetNamespace="services.IDM.soap"
                  name="Application">
    <wsdl:types>
        <xs:schema targetNamespace="services.IDM.soap" elementFormDefault="qualified">
            <xs:import namespace="models.dto.role_dto"/>
            <xs:import namespace="utils.register_data"/>
            <xs:import namespace="models.dto.user_dto"/>
            <xs:complexType name="list_roles"/>
            <xs:complexType name="list_users"/>
            <xs:complexType name="add_user_role">
                <xs:sequence>
                    <xs:element name="uname" type="xs:string" minOccurs="0" nillable="true"/>
                    <xs:element name="new_role" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="add_user_roleResponse">
                <xs:sequence>
                    <xs:element name="add_user_roleResult" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="authorize">
                <xs:sequence>
                    <xs:element name="uname" type="xs:string" minOccurs="0" nillable="true"/>
                    <xs:element name="urole" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="authorizeResponse">
                <xs:sequence>
                    <xs:element name="authorizeResult" type="xs:boolean" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="change_upass">
                <xs:sequence>
                    <xs:element name="uname" type="xs:string" minOccurs="0" nillable="true"/>
                    <xs:element name="old_pass" type="xs:string" minOccurs="0" nillable="true"/>
                    <xs:element name="new_pass" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="change_upassResponse">
                <xs:sequence>
                    <xs:element name="change_upassResult" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="create_userResponse">
                <xs:sequence>
                    <xs:element name="create_userResult" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="get_user_info">
                <xs:sequence>
                    <xs:element name="uname" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="list_rolesResponse">
                <xs:sequence>
                    <xs:element name="list_rolesResult" type="s0:RoleDTOArray" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="login">
                <xs:sequence>
                    <xs:element name="uname" type="xs:string" minOccurs="0" nillable="true"/>
                    <xs:element name="upass" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="loginResponse">
                <xs:sequence>
                    <xs:element name="loginResult" type="xs:boolean" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="remove_user">
                <xs:sequence>
                    <xs:element name="uname" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="remove_userResponse">
                <xs:sequence>
                    <xs:element name="remove_userResult" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="remove_user_role">
                <xs:sequence>
                    <xs:element name="uname" type="xs:string" minOccurs="0" nillable="true"/>
                    <xs:element name="removed_role" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="remove_user_roleResponse">
                <xs:sequence>
                    <xs:element name="remove_user_roleResult" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="create_user">
                <xs:sequence>
                    <xs:element name="request" type="s2:RegisterRequest" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="list_usersResponse">
                <xs:sequence>
                    <xs:element name="list_usersResult" type="s1:UserDTOArray" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="get_user_infoResponse">
                <xs:sequence>
                    <xs:element name="get_user_infoResult" type="s1:UserDTO" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="list_roles" type="tns:list_roles"/>
            <xs:element name="list_users" type="tns:list_users"/>
            <xs:element name="add_user_role" type="tns:add_user_role"/>
            <xs:element name="add_user_roleResponse" type="tns:add_user_roleResponse"/>
            <xs:element name="authorize" type="tns:authorize"/>
            <xs:element name="authorizeResponse" type="tns:authorizeResponse"/>
            <xs:element name="change_upass" type="tns:change_upass"/>
            <xs:element name="change_upassResponse" type="tns:change_upassResponse"/>
            <xs:element name="create_userResponse" type="tns:create_userResponse"/>
            <xs:element name="get_user_info" type="tns:get_user_info"/>
            <xs:element name="list_rolesResponse" type="tns:list_rolesResponse"/>
            <xs:element name="login" type="tns:login"/>
            <xs:element name="loginResponse" type="tns:loginResponse"/>
            <xs:element name="remove_user" type="tns:remove_user"/>
            <xs:element name="remove_userResponse" type="tns:remove_userResponse"/>
            <xs:element name="remove_user_role" type="tns:remove_user_role"/>
            <xs:element name="remove_user_roleResponse" type="tns:remove_user_roleResponse"/>
            <xs:element name="create_user" type="tns:create_user"/>
            <xs:element name="list_usersResponse" type="tns:list_usersResponse"/>
            <xs:element name="get_user_infoResponse" type="tns:get_user_infoResponse"/>
        </xs:schema>
        <xs:schema targetNamespace="models.dto.role_dto" elementFormDefault="qualified">
            <xs:complexType name="RoleDTO">
                <xs:sequence>
                    <xs:element name="rid" type="xs:integer" minOccurs="0" nillable="true"/>
                    <xs:element name="rname" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RoleDTOArray">
                <xs:sequence>
                    <xs:element name="RoleDTO" type="s0:RoleDTO" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="RoleDTO" type="s0:RoleDTO"/>
            <xs:element name="RoleDTOArray" type="s0:RoleDTOArray"/>
        </xs:schema>
        <xs:schema targetNamespace="models.dto.user_dto" elementFormDefault="qualified">
            <xs:import namespace="models.dto.role_dto"/>
            <xs:complexType name="UserDTO">
                <xs:sequence>
                    <xs:element name="uid" type="xs:integer" minOccurs="0" nillable="true"/>
                    <xs:element name="uname" type="xs:string" minOccurs="0" nillable="true"/>
                    <xs:element name="uroles" type="s0:RoleDTOArray" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UserDTOArray">
                <xs:sequence>
                    <xs:element name="UserDTO" type="s1:UserDTO" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="UserDTO" type="s1:UserDTO"/>
            <xs:element name="UserDTOArray" type="s1:UserDTOArray"/>
        </xs:schema>
        <xs:schema targetNamespace="utils.register_data" elementFormDefault="qualified">
            <xs:complexType name="RegisterRequest">
                <xs:sequence>
                    <xs:element name="uname" type="xs:string" minOccurs="0" nillable="true"/>
                    <xs:element name="upass" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="RegisterRequest" type="s2:RegisterRequest"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="create_user">
        <wsdl:part name="create_user" element="tns:create_user"/>
    </wsdl:message>
    <wsdl:message name="create_userResponse">
        <wsdl:part name="create_userResponse" element="tns:create_userResponse"/>
    </wsdl:message>
    <wsdl:message name="change_upass">
        <wsdl:part name="change_upass" element="tns:change_upass"/>
    </wsdl:message>
    <wsdl:message name="change_upassResponse">
        <wsdl:part name="change_upassResponse" element="tns:change_upassResponse"/>
    </wsdl:message>
    <wsdl:message name="add_user_role">
        <wsdl:part name="add_user_role" element="tns:add_user_role"/>
    </wsdl:message>
    <wsdl:message name="add_user_roleResponse">
        <wsdl:part name="add_user_roleResponse" element="tns:add_user_roleResponse"/>
    </wsdl:message>
    <wsdl:message name="remove_user_role">
        <wsdl:part name="remove_user_role" element="tns:remove_user_role"/>
    </wsdl:message>
    <wsdl:message name="remove_user_roleResponse">
        <wsdl:part name="remove_user_roleResponse" element="tns:remove_user_roleResponse"/>
    </wsdl:message>
    <wsdl:message name="remove_user">
        <wsdl:part name="remove_user" element="tns:remove_user"/>
    </wsdl:message>
    <wsdl:message name="remove_userResponse">
        <wsdl:part name="remove_userResponse" element="tns:remove_userResponse"/>
    </wsdl:message>
    <wsdl:message name="get_user_info">
        <wsdl:part name="get_user_info" element="tns:get_user_info"/>
    </wsdl:message>
    <wsdl:message name="get_user_infoResponse">
        <wsdl:part name="get_user_infoResponse" element="tns:get_user_infoResponse"/>
    </wsdl:message>
    <wsdl:message name="list_users">
        <wsdl:part name="list_users" element="tns:list_users"/>
    </wsdl:message>
    <wsdl:message name="list_usersResponse">
        <wsdl:part name="list_usersResponse" element="tns:list_usersResponse"/>
    </wsdl:message>
    <wsdl:message name="list_roles">
        <wsdl:part name="list_roles" element="tns:list_roles"/>
    </wsdl:message>
    <wsdl:message name="list_rolesResponse">
        <wsdl:part name="list_rolesResponse" element="tns:list_rolesResponse"/>
    </wsdl:message>
    <wsdl:message name="login">
        <wsdl:part name="login" element="tns:login"/>
    </wsdl:message>
    <wsdl:message name="loginResponse">
        <wsdl:part name="loginResponse" element="tns:loginResponse"/>
    </wsdl:message>
    <wsdl:message name="authorize">
        <wsdl:part name="authorize" element="tns:authorize"/>
    </wsdl:message>
    <wsdl:message name="authorizeResponse">
        <wsdl:part name="authorizeResponse" element="tns:authorizeResponse"/>
    </wsdl:message>
    <wsdl:service name="IDMService">
        <wsdl:port name="Application" binding="tns:Application">
            <wsdlsoap11:address location="http://127.0.0.1:8000/"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Application">
        <wsdl:operation name="create_user" parameterOrder="create_user">
            <wsdl:input name="create_user" message="tns:create_user"/>
            <wsdl:output name="create_userResponse" message="tns:create_userResponse"/>
        </wsdl:operation>
        <wsdl:operation name="change_upass" parameterOrder="change_upass">
            <wsdl:input name="change_upass" message="tns:change_upass"/>
            <wsdl:output name="change_upassResponse" message="tns:change_upassResponse"/>
        </wsdl:operation>
        <wsdl:operation name="add_user_role" parameterOrder="add_user_role">
            <wsdl:input name="add_user_role" message="tns:add_user_role"/>
            <wsdl:output name="add_user_roleResponse" message="tns:add_user_roleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="remove_user_role" parameterOrder="remove_user_role">
            <wsdl:input name="remove_user_role" message="tns:remove_user_role"/>
            <wsdl:output name="remove_user_roleResponse" message="tns:remove_user_roleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="remove_user" parameterOrder="remove_user">
            <wsdl:input name="remove_user" message="tns:remove_user"/>
            <wsdl:output name="remove_userResponse" message="tns:remove_userResponse"/>
        </wsdl:operation>
        <wsdl:operation name="get_user_info" parameterOrder="get_user_info">
            <wsdl:input name="get_user_info" message="tns:get_user_info"/>
            <wsdl:output name="get_user_infoResponse" message="tns:get_user_infoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="list_users" parameterOrder="list_users">
            <wsdl:input name="list_users" message="tns:list_users"/>
            <wsdl:output name="list_usersResponse" message="tns:list_usersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="list_roles" parameterOrder="list_roles">
            <wsdl:input name="list_roles" message="tns:list_roles"/>
            <wsdl:output name="list_rolesResponse" message="tns:list_rolesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="login" parameterOrder="login">
            <wsdl:input name="login" message="tns:login"/>
            <wsdl:output name="loginResponse" message="tns:loginResponse"/>
        </wsdl:operation>
        <wsdl:operation name="authorize" parameterOrder="authorize">
            <wsdl:input name="authorize" message="tns:authorize"/>
            <wsdl:output name="authorizeResponse" message="tns:authorizeResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Application" type="tns:Application">
        <wsdlsoap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="create_user">
            <wsdlsoap11:operation soapAction="create_user" style="document"/>
            <wsdl:input name="create_user">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="create_userResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="change_upass">
            <wsdlsoap11:operation soapAction="change_upass" style="document"/>
            <wsdl:input name="change_upass">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="change_upassResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="add_user_role">
            <wsdlsoap11:operation soapAction="add_user_role" style="document"/>
            <wsdl:input name="add_user_role">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="add_user_roleResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="remove_user_role">
            <wsdlsoap11:operation soapAction="remove_user_role" style="document"/>
            <wsdl:input name="remove_user_role">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="remove_user_roleResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="remove_user">
            <wsdlsoap11:operation soapAction="remove_user" style="document"/>
            <wsdl:input name="remove_user">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="remove_userResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get_user_info">
            <wsdlsoap11:operation soapAction="get_user_info" style="document"/>
            <wsdl:input name="get_user_info">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="get_user_infoResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="list_users">
            <wsdlsoap11:operation soapAction="list_users" style="document"/>
            <wsdl:input name="list_users">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="list_usersResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="list_roles">
            <wsdlsoap11:operation soapAction="list_roles" style="document"/>
            <wsdl:input name="list_roles">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="list_rolesResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="login">
            <wsdlsoap11:operation soapAction="login" style="document"/>
            <wsdl:input name="login">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="loginResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authorize">
            <wsdlsoap11:operation soapAction="authorize" style="document"/>
            <wsdl:input name="authorize">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="authorizeResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>